@font-face {
  font-family:Lato-Regular;
  src: url(./fonts/Lato-Regular.ttf);
}
@font-face {
  font-family:Lato-Bold;
  src: url(./fonts/Lato-Bold.ttf);
}
@font-face {
  font-family:Lato-Heavy;
  src: url(./fonts/Lato-Black.ttf);
}
:root{
  --main-em-color:#940e3f;
  --main-bg-color:#43e04f;
  --main-body-color:white;
  --secondary-em-color:#000000;
  --secondary-body-color:#000000;
  --search:#940e3f;
}
.darkmode{
  --main-em-color:#fdfdfd;
  --main-bg-color:#ade6b2;
  --main-body-color:rgb(13, 23, 51);
  --secondary-em-color:rgb(194, 189, 189);
  --search:rgb(13, 23, 51);
  --secondary-body-color:rgb(194, 190, 190);
}
 li {
 color:var(--secondary-body-color);
}
.card-content h3 {
  color:var(--secondary-body-color);
}
.card-content span {
  color:var(--secondary-body-color);
}
.info-text p {
  color:var(--secondary-body-color);
}
.add h3 {
  color:var(--secondary-body-color);
}
#togglelightmode {
  color:var(--secondary-body-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  max-width: 1500px;
  margin: auto;
  background-color: var(--main-body-color);
}
.main-nav {
  display: flex;
  height: 4.5em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: var(--main-body-color);
  top: 0;
  z-index: 3;
  width: 100%;
  max-width: 1515px;
}
.nav-ul {
  display: flex;
}
.nav-ul li {
  padding-left: 2em;
}
.nav-ul li a {
  text-decoration: none;
  color: var(--main-em-color);
  font-size: 1.3125em;
  border-radius: 0.4em;
  padding: 0.5em;
  font-family: Lato-Bold;
}
.nav-ul li a:hover {
  color: var(--main-body-color);
  background-color: #e0437c;
}
.nav-ul li a:focus {
  border: 1px solid black;
  border-radius: 0.4em;
}
.search {
  font-size: 1em;
  padding: 0.75em 2.5em;
  border-radius: 0.4em;
  border: 1px solid var(--main-em-color);
  width: 15em;
  max-width: 280px;
  margin: 0 1em;
}
.header {
  display: flex;
  height: 12em;
  background-color: var(--main-bg-color);
  margin-top: 4.5rem;
}
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  align-items: center;
}
.header-right {
  width: 55%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 20.17% 107.29%);
}
.header-left h1 {
  font-size: 3.75em;
  color: #29232e;
  font-family: "Roboto Slab";
  font-weight: 900;
}
.header-left h2 {
  font-size: 1.4375em;
  color: #29232e;
  font-family: "Roboto Slab";
  font-weight: 400;

}
.info-text {
  margin: 4rem auto;
  text-align: center;
  position: relative;
}
.info-text p {
  font-family: Lato-Regular;
  font-size: 1.3125em;
  margin-bottom: 1rem;
}
.pizzaSvg{
  background-image: url(./img/vectorfood/pizza-155771.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 10vmin;
  aspect-ratio: 1/0.7972;
  position: absolute;
  top:45%;
  left:10%

}
.burgerSvg{
  background-image: url(./img/vectorfood/burger-151421.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 10vmin;
  aspect-ratio: 1/1;
  right: 10%;
  top:45%;

}
.restaurant-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 2em 2em;
  margin-bottom: 2rem;
}
.add {
  position: relative;
  border: 1.5px dashed var(--secondary-em-color);
  border-radius: 0.7em;
  padding: 0.8em;
  height:4em;
}

.svg-add {
  height: 3em;
  width: 3em;
  position: absolute;
  fill: var(--secondary-em-color);
}
.svg-add:hover {
  fill: var(--main-bg-color);
}
.add-icon-span{
  cursor: pointer;
}
.add h3 {
  position: absolute;
  top: 50%;
  left: 3.5em;
  transform: translate(0, -50%);
  font-size: 1.3125em;
  font-family: Lato-Regular;
}
.item {
  border: 1px solid var(--secondary-em-color);
  border-radius: 0.7em;
  padding: 1.5rem;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: row;
}
.card-img{
   margin-right: 1rem;
   height: 180px;
   width: 180px;
}
.card-img img {
  border: 1px solid var(--secondary-em-color);
}
.card-title{
  display: flex;
  margin-bottom: 1rem;

}
.location{
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
}
.item h3 {
  font-size: 1.3125em;
  font-family: Lato-Heavy;
}
.item p {
  font-size: 1rem;
  margin-top: 1rem;
  font-family: Lato-Regular;
}

.search-label {
  position: relative;
}
.svg-search {
  position: absolute;
  left: 1.5em;
  top: 22%;
  fill: var(--search);
}
.svg-location {
  margin-top: -0.85rem;
  height: 3em;
  width: 3em;
  position: absolute;
  right: 3em;
  fill: var(--secondary-em-color);
}
.svg-location:hover {
  fill: var(--main-bg-color);
}

.toggle-nav {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
  margin-left: 1rem;
  margin-top: 0.45rem;
  left: 1px;
}
.toggle-nav .bar {
  height: 0.1875rem;
  width: 100%;
  background-color: var(--main-em-color);
  border-radius: 10px;
}
button {
  margin-top: 5px;
  margin-right: 5px;

}
.list {
  width: 100%;
  background-color: var(--main-body-color);
  border-radius: 0 0 5px 5px;
  position: absolute;
}
.list-items {
  padding: 10px 5px;
}
.list-items:hover {
  background-color: var(--main-body-color);
}

@media (max-width: 882px) {

  .toggle-nav {
    display: flex;
    position: fixed;
    top:1rem;
    z-index: 2;
  }
  .main-nav {
    justify-content: flex-end;
  }
  .nav-ul {
    position: fixed;
    left:-100%;
    flex-direction: column;
    background-color: var(--main-body-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    top: 0;
  }
  .nav-ul li {
    margin: 1.5rem 0;
  }
  .nav-ul.active {
    left: 0;
  }
}
.modal {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 10;
  color:var(--main-body-color);
  background-color: var(--main-bg-color);
  width: 500px;
  max-width: 80%;

}
.modal.active{
  transform: translate(-50%, -50%) scale(1);

}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.modal-header .modal-title {
  font-size: 1.25rem;
  font-family: Lato-Heavy;

}
.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}
.modal-body {
  padding: 10px 15px;

}
.overlay {
  position: fixed;
  opacity: 0;
  top:0;
  left: 0;
  transition: 200ms ease-in-out;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}
.overlay.active{
  opacity: 1;
  pointer-events: all;

}
.restaurant-area li {
  list-style: auto;
  margin-left: 5px;
}
@media (max-width: 1600px) {
  body {
    max-width: 100%;
  }
  .restaurant-area {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media (max-width: 700px) {
  .restaurant-area {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
  .burgerSvg{
    display: none;
  }
  .pizzaSvg {
    display: none;
  }
  .header-right{
    display: none;
  }
  .header{
    justify-content: center;
  }
}

@media (max-width: 470px) {

  .card-title{
    margin-top: 1rem;
    margin-bottom: 2em;
  }
  .card-title-location {
    position: relative;
    margin-left: 1rem;
    top: -0.5rem;
  }
  .svg-location {
    left: -1rem;
    margin: 0;
  }
  .location{
    left: 1.3rem;
    top: 1rem;
  }
  .item{
  display: block;
  }

}

