@font-face {
  font-family: Lato-Regular;
  src: url(./fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(./fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Heavy;
  src: url(./fonts/Lato-Black.ttf);
}
:root{
  --main-em-color:#940e3f;
  --main-bg-color:#43e04f;
  --secondary-bg-color:#9badbf;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  min-height: 100vh;
  max-width: 75%;
  margin: auto;
}
.main-nav {
  display: flex;
  height: 4.5em;
  align-items: center;
  justify-content: space-between;
}
.nav-ul {
  display: flex;
}
.nav-ul li {
  padding-left: 2em;
}
.nav-ul li a {
  text-decoration: none;
  color: var(--main-em-color);
  font-size: 1.3125em;
  border-radius: 0.4em;
  padding: 0.5em;
  font-family: Lato-Bold;
}
.nav-ul li a:hover {
  color: #ffffff;
  background-color: #e0437c;
}
.nav-ul li a:focus {
  border: 1px solid black;
  border-radius: 0.4em;
}
.search {
  font-size: 1em;
  padding: 0.75em 2.5em;
  border-radius: 0.4em;
  border: 1px solid var(--main-em-color);
  width: 25em;
  margin: 0 1em;
}
.header {
  display: flex;
  height: 12em;
  background-color: var(--main-bg-color);
}
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  align-items: center;
}
.header-right {
  width: 55%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 20.17% 107.29%);
}
.header-left h1 {
  font-size: 3.75em;
  color: #ffffff;
  font-family: Roboto Slab;
  font-weight: 900;
}
.header-left h2 {
  font-size: 1.4375em;
  color: #ffffff;
  font-family: Roboto Slab;
  font-weight: 400;

}
.info-text {
  margin: 3em 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.info-text p {
  font-family: Lato-Regular;
  font-size: 1.3125em;
  width: 30em;
}
.restaurant-area {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 5em 5em;
}
.add {
  background-color: var(--secondary-bg-color);
  position: relative;
  border: 1.5px dashed var(--main-em-color);
  border-radius: 0.7em;
  padding: 0.8em;
  height:4em;
}
.svg-add {
  height: 3em;
  width: 3em;
  position: absolute;
  fill: #ffffff;
}
.svg-add:hover {
  fill: var(--main-bg-color)
}
.add h3 {
  position: absolute;
  top: 50%;
  left: 3.5em;
  transform: translate(0, -50%);
  font-size: 1.3125em;
  font-family: Lato-Regular;
}
.item {
  border: 1.5px dashed var(--main-em-color);
  border-radius: 0.7em;
  padding: 0.8em;
  background-color: var(--secondary-bg-color);
  text-align: left;
  position: relative;
}
.item h3 {
  font-size: 1.3125em;
  font-family: Lato-Heavy;
}
.item p {
  font-size: 0.625em;
  margin-top: 1rem;
  font-family: Lato-Regular;
}

.search-label {
  position: relative;
}
.svg-search {
  position: absolute;
  left: 1.5em;
  top: 22%;
  fill: var(--main-em-color);
}
.svg-location {
  height: 3em;
  width: 3em;
  position: absolute;
  right: 1em;
  fill: var(--main-bg-color);
}
.svg-location:hover {
  fill: #000000;
}


@media (max-width: 1400px) {
  body {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .search {
    width: fit-content;
  }
  .restaurant-area {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
